:root {
  --font-family: Inter, Georgia, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --fallback-font-family: Georgia, system-ui, -apple-system, BlinkMacSystemFont, sans-serif
}


body {
  background-color: #FF7B54;
  color: #FFFFFF;
  font-family: var(--font-family);
}

.wf-inactive body {
  font-family: var(--fallback-font-family);
}

a {
  color: inherit;
  text-decoration: none;
}